<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/main.css">
  <script src="/socket/socket.io.js"></script>
  <title>BS Shopping</title>
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="main-index">
    <div class="container">
        <div class="content">
            <span>bs shop</span>
            <p>By : โรงเรียนบางระกำวิทยศึกษา  shop</p>
            <a href="/product">เลือกดูสินค้า</a>
          </div>
    </div>
  </div>

  <script>

  </script>
</body>
</html>
